<footer>
    <app-logo title="öppna akademin" slogan="Gratis utbildning för alla, överallt" />
    <div class="grid">
        <address class="flex-col">
            <h2>kontakta oss</h2>
            <a href="tele:0701122334">070-112 23 34</a>
            <a href="mailto:oppna-akademin@info.se">oppna-akademin@info.se</a>
        </address>
        <address class="flex-col">
            <h2>it-support</h2>
            <a href="tele:0704332211">070-433 22 11</a>
            <a href="mailto:oppna-akademin@info.se">oppna-akademin@support.se</a>
        </address>
        <section class="flex-col">
            <h2>för student</h2>
            <a href="#">studentwebben</a>
            <a href="#">moodle</a>
            <a href="#">service portalen</a>
        </section>
        <section class="flex-col">
            <h2>för personal</h2>
            <a href="#">staff</a>
            <a href="#">service portalen</a>
        </section>
    </div>
    <div class="grid">
        <p class="copyright"><span>&copy;</span>öppna akademin 2026</p>
        <a href="#">om webbplatsen</a>
        <a href="#">hantering av personuppgifter</a>
        <a href="#">kris och säkerhet</a>
    </div>
    <div class="flex">
        <img src="icons/facebook.svg" class="icon" alt="facebook">
        <img src="icons/youtube.svg" class="icon" alt="youtube">
        <img src="icons/instagram.svg" class="icon" alt="instagram">
        <img src="icons/linkedin.svg" class="icon" alt="linkedin">
    </div>
</footer>