section {
    display:grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--bg);
    border:1px solid var(--border);
    padding:25px;
    border-radius: 4px;
    max-width:980px;
    margin-inline: auto;
}

section h2 {
    grid-column: 1/3;
    justify-self: self-start;
}

section label {
    display: block;
    margin-bottom:5px;
    color:var(--text-secondary);
    user-select: none;
}

section form> div {
    margin:25px 0;
}

section form .err-msg {
    margin:5px 0;
}

form input, form textarea {
    width:100%;
    border-radius: 4px;
    border:1px solid lightgrey;
}

form input:focus, form textarea:focus {
    border:1px solid darkslategrey;
    outline:none;
}

form input {
    height:40px;
}

form textarea {
    min-height:120px;
    resize: none;
}

form button {
    background-color: midnightblue;
    color:white;
    width:150px;
    height:45px;
    border:none;
    font-size: 1.05rem;
    letter-spacing: 1px;
    border-radius: 4px;
    cursor: pointer;
}

section .err-msg {
    color:darkred;
    border-bottom:1px solid darkred;
}

section .hidden {
    display:none;
}

@media (max-width:800px) {
    section> div:nth-of-type(1) {
        display: none;
    }

    section {
        grid-template-columns: 1fr;
    }
}